.container{
    width: 275px;
    height: 300px;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    border-radius: 20px;
    padding-top: 10px;
}

body{
    margin: auto;
    background-color: rgb(255, 255, 255);
}

button{ 
    color: rgb(34, 34, 34);
    margin: 5px;
    border-radius: 8px;
    width: 5.1rem;
    height: 5.1rem;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(34, 34, 34);
    border: none;
    outline: none;
}

.promotion{
    padding: 30px 0px 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

